.title{
    text-align: center;
    color: rgb(4, 110, 124);
    font-family: 'Caveat', cursive;
    font-weight: 900;
}

.input_first{
    background-color: transparent;
    border: none;
    border-bottom:3px solid rgb(4, 110, 124);
    border-radius: 10%;
    color:rgb(4, 110, 124);
    font-family: 'Caveat', cursive;


}

.buttons{
    background-color: transparent;
    border: 1px solid rgb(4, 110, 124);
    border-radius: 10%;
    color:rgb(4, 110, 124);
    font-family: 'Caveat', cursive;
    font-size: 1rem;
}
.buttons:hover{
    background-color:rgb(4, 110, 124);
    color:yellow;
}


.buttons:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: rgb(84, 92, 93);;
  color: rgb(162, 164, 164);
}
label{
    color:rgb(4, 110, 124);
    font-family: 'Caveat', cursive;
    font-size: 1.3rem;
}

ul{
    margin-top: 2rem;
    max-width: 60%;
    overflow: hidden;
    overflow-y: auto;
    overflow-x: auto;
    max-height: 20rem;
    font-family: 'Caveat', cursive;
    font-size: 1.5rem;
  
}



ul::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background: transparent;  
  }


  ul::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    width: 5px;
  }




  ::-webkit-scrollbar-corner {
    background: rgba(0,0,0,0);
  }
  
 /* ul::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 50%;
  }*/
  
li{
    padding: 2px;
    color:rgb(4, 110, 124);
}
